name: "Continuous build (macOS)"

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - 'continuous*'

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: macos-26
            target: 11.0

      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      - name: Install dependencies
        run: |
          brew install automake libtool nasm yasm

      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Apply Full-Width patch
        run: |
          cd boca
          git apply --ignore-whitespace $GITHUB_WORKSPACE/.github/workflows/patches/fullwidth.patch

      - name: Build DMG
        env:
          MACOSX_DEPLOYMENT_TARGET: ${{ matrix.target }}
        run: |
          .github/workflows/tools/build-macos

      - name: Upload to GitHub Releases
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.run_number }}
          name: freac continuous (${{ github.run_number }})
          files: freac-continuous-macos*.dmg    